$font-stack: "Open Sans", sans-serif;
$fuku-red: #F6473A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}
    

body {
    background: url(images/iwaki-coast.jpg);
    background-size: cover;
    background-position: bottom;
}
    

li {
    list-style: none;
}
    

a {
    text-decoration: none;
    cursor: pointer;
}
    

// HEADER

header {
    position: absolute;
    width: 100vw;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
} 

@keyframes fadein {
    100% {
        opacity: 1;
    }
}
    
.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    font-size: 1rem;

    a { color: #fff; } 
}
    

// HERO

.hero {
    position: relative;
    text-align: center;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .hero-content {
        opacity: 0;
        margin-top: 100px;
        animation: 1s slidefade 1s forwards;
    }
        
    
    @keyframes slidefade {
        100% {
            opacity: 1;
            margin: 0;
        }
    }
        

    h1 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 3px;
    }
        
    p {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    img {
        width: 25%;
        margin-bottom: 1.5rem;
    }
        
}

@media (min-width: 768px) {
    .nav {
        font-size: 1.5rem;
    }
    
    .hero-content {
        img {
            width: 40%;
        }

        h1 {
            font-size: 3rem;
            margin: 1rem 0 0.5rem 0;
        }

        p {
            font-size: 2rem;
        }
    }
}
    

@media (min-width: 1200px) {
    .nav {
        justify-content: flex-end;
        margin-right: 3rem;
    
        a {
            margin: 1rem;
            font-size: 1rem;
        }   
    }

    .hero-content {
        img {
            width: 25%
        }
    }
}
    
        
    

    
